<app-header></app-header>
<div class="container-flex">
  <div class="notfound">
    <div class="notfound-item">
      <img src="assets/images/not-found.svg" alt="Page Not Found">
    </div>
    <div class="notfound-item">
      <div class="notfound-title">
        <h1>404</h1>
        <h3>Oh... You're lost.</h3>
        <p>The page you are looking for doesn't exist, but you can click the button below to go back to the homepage.</p>
        <a routerLink="/">Home</a>
      </div>
    </div>
  </div>
</div>
